<div class="container">
  <div class="header">
    <div class="logo">
      <img src="https://cdn-img.buyproperly.com/company/BuyProperly.png" />
      <h2 [routerLink]="['/']">BUYPROPERLY</h2>
    </div>
    <div class="details">
      <h2 [routerLink]="['/property-list']">View Properties</h2>
      <h2 [routerLink]="['/property-detail']">How it Works</h2>
      <h2>About us</h2>
      <h2>Resource Center</h2>
    </div>
    <div class="buttons">
      <button class="loginButton" [routerLink]="['/login']">Login</button>
      <button class="startButton">Get Started</button>
    </div>
  </div>
</div>
