<div class="container">
  <div class="header">
    <div class="logo">
      <img src="https://cdn-img.buyproperly.com/company/BuyProperly.png" />
      <h2 [routerLink]="['/']">BUYPROPERLY</h2>
    </div>
    <div class="details">
      <div>
        <h2 [routerLink]="['/property-list']">View Properties</h2>
      </div>
      <div class="buttons">
        <button
          *ngIf="changeButton"
          class="loginButton"
          (click)="logoutHandler()"
        >
          Logout
        </button>
        <button
          *ngIf="!changeButton"
          class="loginButton"
          [routerLink]="['/login']"
        >
          Login
        </button>
      </div>
      <div class="language-picker-area">
        <div class="picker-label">
          {{ "choose-language" | translate }}
          <!-- choose language -->
          <select (change)="selectLanguage($event)" class="language-picker">
            <option value="en-US">English</option>
            <option value="fr-FR">French</option>
            <option value="de-DE">German</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
