<div>
  <app-header></app-header>
  <div class="container">
    <div class="image">
      <img src="{{ propertiesDetails.img_src_main }}" alt="image" />
    </div>
    <div class="details">
      <div class="top-details">
        <h1>{{ propertiesDetails.address_area }}</h1>
        <!-- <h1>Back to properties</h1> -->
        <button
          style="background-color: #f5d442"
          [routerLink]="['/property-list']"
        >
          Back to properties
        </button>
      </div>
      <div>
        <h2>{{ propertiesDetails.address }}</h2>
      </div>
      <div class="second-details">
        <h3>Multi Family Residential</h3>
        <h3>Primary Listing</h3>
      </div>
      <div class="third-details">
        <div>
          <h2>Funding Amount (USD)</h2>
          <h2>$1,034,100</h2>
        </div>
        <div>
          <h2>Project Term</h2>
          <h2>$1,034,100</h2>
        </div>
        <div>
          <h2>Projected Annual ROI</h2>
          <h2>17.6%</h2>
        </div>
      </div>
      <div class="forth-details">
        <h1>Book a meeting</h1>
        <h1>Documents</h1>
        <h1>Immersive Experience</h1>
      </div>
      <div>
        <button>Invest</button>
        <button>Accepcting Investments</button>
      </div>
      <p>
        Capital At Risk - Please read Key Risks and Purchaser's Rights before
        investing.
      </p>
    </div>
  </div>
</div>
