.container {
  /* border: 2px solid red; */
  width: 80%;
  display: flex;
  border-radius: 10px;
  background-color: rgb(227, 216, 216);
  margin: auto;
  margin-top: 1rem;
}
.image {
  width: 50%;
}
.details {
  width: 50%;
  padding: 1rem;
  padding: 1rem;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.top-details {
  display: flex;
  justify-content: space-between;
}
.second-details {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.third-details {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.third-details div {
  background-color: aliceblue;
  margin: 0.2rem;
  width: 33.33%;
}
.forth-details {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.forth-details h1 {
  font-size: 1.5rem;
}
button {
  padding: 1rem 2rem;
  margin: 1rem;
  border-radius: 10px;
  background-color: dodgerblue;
}
