<div>
  <app-header></app-header>
  <div class="container">
    <div
      *ngFor="
        let item of propertiesList
          | paginate
            : { itemsPerPage: tableSize, currentPage: page, totalItems: count };
        let i = index
      "
      class="property"
      [routerLink]="['/property-detail/' + item.property_slurp]"
    >
      <div class="image">
        <img src="{{ item.img_src_main }} " alt="1" />
      </div>
      <h1 *ngIf="item.is_multi_family_residential">Multi Family Residential</h1>
      <h1 *ngIf="item.is_preconstruction_property">Campground</h1>
      <h1 class="black">value Added Property</h1>
      <div class="project-details">
        <p>Total Offering</p>
        <p>Project Term</p>
        <p>Projected Annual Roi</p>
      </div>
      <div class="project-details-info">
        <p>200,000</p>
        <p>3 years</p>
        <p>36.6%</p>
      </div>
      <div class="button">
        <button>Invest Now</button>
      </div>
    </div>
  </div>
  <div class="pagination">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    ></pagination-controls>
  </div>
</div>
